.ItemDetailCountry {
  min-height: 100vh;

  &__btnBack {
    padding: 10px;
    width: 95px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #b2bec3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    div:first-child {
      color: #636e72;
      font-size: 18px;
    }
    div:last-child {
      color: #848484;
      font-size: 14px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 30px;
  }

  &__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      height: 300px;
      max-width: 520px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: black;
    font-weight: bold;
    padding: 30px 0 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: 15px;
    &:first-child {
      padding-top: 0px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    div:first-child {
      font-weight: bold;
    }
    div:last-child {
      text-align: left;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
    }
  }

  &__color-dark-fonts {
    color: #808d96 !important;
  }

  &__color-dark-cell {
    color: #eaf0f2 !important;
    font-weight: normal !important;
  }

  &__color-dark-title {
    color: #eaf0f2 !important;
  }

  &__item-dark {
    background-color: #2b3743 !important;
    border-color: #2b3743 !important;
  }

  &__btn-dark-back {
    background-color: #2b3743 !important;
    border-color: #2b3743 !important;
    color: #6c757e !important;
  }

  &__wrapperButton {
    padding: 40px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__country-item {
    font-family: "Relawey", sans-serif;
    font-size: 9px;
    font-weight: bold;
    padding: 4px;
    width: 70px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: solid 1px #b2bec3;
    color: #908e8e;
  }

  &__border-countries {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding-top: 25px;
    flex-wrap: wrap;
  }

  &__cell {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
}

@media screen and (max-width: 375px) {
  .ItemDetailCountry {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__items {
      display: flex;
      flex-direction: column;
      grid-gap: 15px;
    }
    &__image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        height: 150px;
        width: 100%;
      }
    }
  }
}
